version: '3.5'

services:
    identityServer:
        build:
            context: .
            network: host
        image: identityserver
        ports:
            - "6001:80"
            - "6002:443"
        depends_on:
            - mysql
    
    statistic:
        build:
            context: .
            network: host
        image: statistic.api
        ports:
            - "6007:80"
            - "6008:443"
        depends_on:
            - mongodb
            - rabbitmq
    
    appQuiz:
        build:
            context: .
            network: host
        image: quiz.api
        ports:
            - "6003:80"
            - "6004:443"
        depends_on:
            - mongodb
            - rabbitmq
      
    user:
        build:
            context: .
            network: host
        image: user.api
        ports:
           - "6005:80"
           - "6006:443"
        depends_on:
            - mysql
      
    monitoring:
        build:
            context: .
            network: host
        image: monitoring.api
        ports:
            - "6009:80"
            - "6010:443"
    
    rabbitmq:
        image: "rabbitmq:3-management"
        hostname: "rabbit"
        ports:
            - "15672:15672"
            - "5672:5672"
        labels:
            NAME: "rabbitmq"
        volumes:
            - ./rabbitmq-isolated.conf:/etc/rabbitmq/rabbitmq.config
    
    mysql:
        image: mysql:5.7
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: new_base
        ports:
            - 3306:3306
    
    mongodb:
        image: mongo
        deploy:
            replicas: 2
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: example
